NOTESHARE_DATABASE_URL=sqlite+aiosqlite:///./dev.db
NOTESHARE_SECRET_KEY=your_secret_key_here
NOTESHARE_ACCESS_TOKEN_EXPIRE_MINUTES=1440
NOTESHARE_CORS_ALLOW_ORIGINS=["http://localhost:3000"]
NOTESHARE_ALLOWED_EMAIL_DOMAIN=ul.edu
REACT_APP_API_URL=http://127.0.0.1:8082










